In [15]:
import pandas as pd

import numpy as np

import plotnine as p9

import fetch_data

import importlib
importlib.reload(fetch_data)

import requests
from bs4 import BeautifulSoup

In [2]:
sites = fetch_data.get_colorado_sites()

sites

/nwcc/rgrpt?station=&report=snowmonth_hist
/nwcc/rgrpt?station=05L05&report=snowmonth_hist
/nwcc/rgrpt?station=05L06&report=snowmonth_hist
/nwcc/rgrpt?station=05M07S&report=snowmonth_hist
/nwcc/rgrpt?station=06J08S&report=snowmonth_hist
/nwcc/rgrpt?station=05K12&report=snowmonth_hist
/nwcc/rgrpt?station=05K23&report=snowmonth_hist
/nwcc/rgrpt?station=05J39S&report=snowmonth_hist
/nwcc/rgrpt?station=07J03S&report=snowmonth_hist
/nwcc/rgrpt?station=07M32S&report=snowmonth_hist
/nwcc/rgrpt?station=06K45S&report=snowmonth_hist
/nwcc/rgrpt?station=05J33&report=snowmonth_hist
/nwcc/rgrpt?station=05K13&report=snowmonth_hist
/nwcc/rgrpt?station=05K03&report=snowmonth_hist
/nwcc/rgrpt?station=05K14S&report=snowmonth_hist
/nwcc/rgrpt?station=05J03&report=snowmonth_hist
/nwcc/rgrpt?station=07K12S&report=snowmonth_hist
/nwcc/rgrpt?station=08M12S&report=snowmonth_hist
/nwcc/rgrpt?station=05J28S&report=snowmonth_hist
/nwcc/rgrpt?station=06K21&report=snowmonth_hist
/nwcc/rgrpt?station=05J25&report=snowmonth_hist
/nwcc/rgrpt?station=06K40S&report=snowmonth_hist
/nwcc/rgrpt?station=06K16S&report=snowmonth_hist
/nwcc/rgrpt?station=06J18S&report=snowmonth_hist
/nwcc/rgrpt?station=07K02S&report=snowmonth_hist
/nwcc/rgrpt?station=06L11S&report=snowmonth_hist
/nwcc/rgrpt?station=06J37&report=snowmonth_hist
/nwcc/rgrpt?station=05J01&report=snowmonth_hist
/nwcc/rgrpt?station=07M35S&report=snowmonth_hist
/nwcc/rgrpt?station=&report=snowmonth_hist
/nwcc/rgrpt?station=05J02&report=snowmonth_hist
/nwcc/rgrpt?station=06K46S&report=snowmonth_hist
/nwcc/rgrpt?station=06L06&report=snowmonth_hist
/nwcc/rgrpt?station=06L06S&report=snowmonth_hist
/nwcc/rgrpt?station=06J03S&report=snowmonth_hist
/nwcc/rgrpt?station=06J03&report=snowmonth_hist
/nwcc/rgrpt?station=08L02S&report=snowmonth_hist
/nwcc/rgrpt?station=08M10S&report=snowmonth_hist
/nwcc/rgrpt?station=05K25&report=snowmonth_hist
/nwcc/rgrpt?station=05J18S&report=snowmonth_hist
/nwcc/rgrpt?station=06K24S&report=snowmonth_hist
/nwcc/rgrpt?station=06J17&report=snowmonth_hist
/nwcc/rgrpt?station=07L01&report=snowmonth_hist
/nwcc/rgrpt?station=07J04S&report=snowmonth_hist
/nwcc/rgrpt?station=05M12&report=snowmonth_hist
/nwcc/rgrpt?station=05M03S&report=snowmonth_hist
/nwcc/rgrpt?station=06M22S&report=snowmonth_hist
/nwcc/rgrpt?station=05J06&report=snowmonth_hist
/nwcc/rgrpt?station=05J06S&report=snowmonth_hist
/nwcc/rgrpt?station=05J17&report=snowmonth_hist
/nwcc/rgrpt?station=06J01S&report=snowmonth_hist
/nwcc/rgrpt?station=05K27S&report=snowmonth_hist
/nwcc/rgrpt?station=08M06S&report=snowmonth_hist
/nwcc/rgrpt?station=05L07&report=snowmonth_hist
/nwcc/rgrpt?station=06J15S&report=snowmonth_hist
/nwcc/rgrpt?station=07J06S&report=snowmonth_hist
/nwcc/rgrpt?station=06K29S&report=snowmonth_hist
/nwcc/rgrpt?station=&report=snowmonth_hist
/nwcc/rgrpt?station=05K29&report=snowmonth_hist
/nwcc/rgrpt?station=05K30S&report=snowmonth_hist
/nwcc/rgrpt?station=06K08S&report=snowmonth_hist
/nwcc/rgrpt?station=05K11&report=snowmonth_hist
/nwcc/rgrpt?station=05L11S&report=snowmonth_hist
/nwcc/rgrpt?station=06J11&report=snowmonth_hist
/nwcc/rgrpt?station=05J16&report=snowmonth_hist
/nwcc/rgrpt?station=06M21&report=snowmonth_hist
/nwcc/rgrpt?station=06M21S&report=snowmonth_hist
/nwcc/rgrpt?station=05K09S&report=snowmonth_hist
/nwcc/rgrpt?station=08M03&report=snowmonth_hist
/nwcc/rgrpt?station=06K42&report=snowmonth_hist
/nwcc/rgrpt?station=05L12S&report=snowmonth_hist
/nwcc/rgrpt?station=05J13&report=snowmonth_hist
/nwcc/rgrpt?station=05J46S&report=snowmonth_hist
/nwcc/rgrpt?station=06K01S&report=snowmonth_hist
/nwcc/rgrpt?station=06K35&report=snowmonth_hist
/nwcc/rgrpt?station=05J11&report=snowmonth_hist
/nwcc/rgrpt?station=05J11S&report=snowmonth_hist
/nwcc/rgrpt?station=07M27S&report=snowmonth_hist
/nwcc/rgrpt?station=06K04&report=snowmonth_hist
/nwcc/rgrpt?station=06K04S&report=snowmonth_hist
/nwcc/rgrpt?station=07M06&report=snowmonth_hist
/nwcc/rgrpt?station=06K10S&report=snowmonth_hist
/nwcc/rgrpt?station=05K26S&report=snowmonth_hist
/nwcc/rgrpt?station=05J37S&report=snowmonth_hist
/nwcc/rgrpt?station=05K21&report=snowmonth_hist
/nwcc/rgrpt?station=05K21S&report=snowmonth_hist
/nwcc/rgrpt?station=07L04&report=snowmonth_hist
/nwcc/rgrpt?station=06K30S&report=snowmonth_hist
/nwcc/rgrpt?station=05M01&report=snowmonth_hist
/nwcc/rgrpt?station=07M08&report=snowmonth_hist
/nwcc/rgrpt?station=05J41S&report=snowmonth_hist
/nwcc/rgrpt?station=05J10&report=snowmonth_hist
/nwcc/rgrpt?station=05J10S&report=snowmonth_hist
/nwcc/rgrpt?station=05K07&report=snowmonth_hist
/nwcc/rgrpt?station=05J44&report=snowmonth_hist
/nwcc/rgrpt?station=07M23&report=snowmonth_hist
/nwcc/rgrpt?station=06M23S&report=snowmonth_hist
/nwcc/rgrpt?station=07M29S&report=snowmonth_hist
/nwcc/rgrpt?station=08M07S&report=snowmonth_hist
/nwcc/rgrpt?station=05J27&report=snowmonth_hist
/nwcc/rgrpt?station=05J27S&report=snowmonth_hist
/nwcc/rgrpt?station=05J22&report=snowmonth_hist
/nwcc/rgrpt?station=06J38S&report=snowmonth_hist
/nwcc/rgrpt?station=06K49&report=snowmonth_hist
/nwcc/rgrpt?station=05K05S&report=snowmonth_hist
/nwcc/rgrpt?station=06J06S&report=snowmonth_hist
/nwcc/rgrpt?station=08M02S&report=snowmonth_hist
/nwcc/rgrpt?station=07K09S&report=snowmonth_hist
/nwcc/rgrpt?station=05J15&report=snowmonth_hist
/nwcc/rgrpt?station=06K28&report=snowmonth_hist
/nwcc/rgrpt?station=06K44S&report=snowmonth_hist
/nwcc/rgrpt?station=05M16S&report=snowmonth_hist
/nwcc/rgrpt?station=08K04&report=snowmonth_hist
/nwcc/rgrpt?station=08K04S&report=snowmonth_hist
/nwcc/rgrpt?station=05K28S&report=snowmonth_hist
/nwcc/rgrpt?station=07M21S&report=snowmonth_hist
/nwcc/rgrpt?station=06K12S&report=snowmonth_hist
/nwcc/rgrpt?station=06K12&report=snowmonth_hist
/nwcc/rgrpt?station=05J24&report=snowmonth_hist
/nwcc/rgrpt?station=07M14S&report=snowmonth_hist
/nwcc/rgrpt?station=07M12S&report=snowmonth_hist
/nwcc/rgrpt?station=06L09&report=snowmonth_hist
/nwcc/rgrpt?station=06M26S&report=snowmonth_hist
/nwcc/rgrpt?station=06K34&report=snowmonth_hist
/nwcc/rgrpt?station=06K06&report=snowmonth_hist
/nwcc/rgrpt?station=06K06S&report=snowmonth_hist
/nwcc/rgrpt?station=06J27S&report=snowmonth_hist
/nwcc/rgrpt?station=05J42S&report=snowmonth_hist
/nwcc/rgrpt?station=05J09&report=snowmonth_hist
/nwcc/rgrpt?station=07K01S&report=snowmonth_hist
/nwcc/rgrpt?station=07K14S&report=snowmonth_hist
/nwcc/rgrpt?station=06L02&report=snowmonth_hist
/nwcc/rgrpt?station=06L02S&report=snowmonth_hist
/nwcc/rgrpt?station=07K06S&report=snowmonth_hist
/nwcc/rgrpt?station=06J02&report=snowmonth_hist
/nwcc/rgrpt?station=05J04S&report=snowmonth_hist
/nwcc/rgrpt?station=06M24&report=snowmonth_hist
/nwcc/rgrpt?station=06M09&report=snowmonth_hist
/nwcc/rgrpt?station=06M14&report=snowmonth_hist
/nwcc/rgrpt?station=07M20&report=snowmonth_hist
/nwcc/rgrpt?station=06L03&report=snowmonth_hist
/nwcc/rgrpt?station=06L03S&report=snowmonth_hist
/nwcc/rgrpt?station=06J09S&report=snowmonth_hist
/nwcc/rgrpt?station=05K18&report=snowmonth_hist
/nwcc/rgrpt?station=&report=snowmonth_hist
/nwcc/rgrpt?station=06J20S&report=snowmonth_hist
/nwcc/rgrpt?station=05J20&report=snowmonth_hist
/nwcc/rgrpt?station=07M33S&report=snowmonth_hist
/nwcc/rgrpt?station=07J01&report=snowmonth_hist
/nwcc/rgrpt?station=07J05S&report=snowmonth_hist
/nwcc/rgrpt?station=06J12S&report=snowmonth_hist
/nwcc/rgrpt?station=06K43S&report=snowmonth_hist
/nwcc/rgrpt?station=06L05&report=snowmonth_hist
/nwcc/rgrpt?station=06L05S&report=snowmonth_hist
/nwcc/rgrpt?station=06L13S&report=snowmonth_hist
/nwcc/rgrpt?station=05J45S&report=snowmonth_hist
/nwcc/rgrpt?station=07K11S&report=snowmonth_hist
/nwcc/rgrpt?station=08M08S&report=snowmonth_hist
/nwcc/rgrpt?station=08M04S&report=snowmonth_hist
/nwcc/rgrpt?station=06K09&report=snowmonth_hist
/nwcc/rgrpt?station=06M04&report=snowmonth_hist
/nwcc/rgrpt?station=07M30S&report=snowmonth_hist
/nwcc/rgrpt?station=05K16&report=snowmonth_hist
/nwcc/rgrpt?station=05M13S&report=snowmonth_hist
/nwcc/rgrpt?station=07M11S&report=snowmonth_hist
/nwcc/rgrpt?station=05J12S&report=snowmonth_hist
/nwcc/rgrpt?station=07M34S&report=snowmonth_hist
/nwcc/rgrpt?station=06K14S&report=snowmonth_hist
/nwcc/rgrpt?station=05K22&report=snowmonth_hist
/nwcc/rgrpt?station=07M02&report=snowmonth_hist
/nwcc/rgrpt?station=06K25&report=snowmonth_hist
/nwcc/rgrpt?station=06J29S&report=snowmonth_hist
/nwcc/rgrpt?station=07K13S&report=snowmonth_hist
/nwcc/rgrpt?station=05M08S&report=snowmonth_hist
/nwcc/rgrpt?station=07M28&report=snowmonth_hist
/nwcc/rgrpt?station=06K03&report=snowmonth_hist
/nwcc/rgrpt?station=05J08&report=snowmonth_hist
/nwcc/rgrpt?station=05J08S&report=snowmonth_hist
/nwcc/rgrpt?station=07M16S&report=snowmonth_hist
/nwcc/rgrpt?station=06M03&report=snowmonth_hist
/nwcc/rgrpt?station=06M03S&report=snowmonth_hist
/nwcc/rgrpt?station=06L14S&report=snowmonth_hist
/nwcc/rgrpt?station=05M17S&report=snowmonth_hist
/nwcc/rgrpt?station=06K39S&report=snowmonth_hist
/nwcc/rgrpt?station=07M31S&report=snowmonth_hist
/nwcc/rgrpt?station=05K19&report=snowmonth_hist
/nwcc/rgrpt?station=07M37S&report=snowmonth_hist
/nwcc/rgrpt?station=07M36S&report=snowmonth_hist
/nwcc/rgrpt?station=06K26&report=snowmonth_hist
/nwcc/rgrpt?station=05M14S&report=snowmonth_hist
/nwcc/rgrpt?station=05J05&report=snowmonth_hist
/nwcc/rgrpt?station=05J05S&report=snowmonth_hist
/nwcc/rgrpt?station=06J05&report=snowmonth_hist
/nwcc/rgrpt?station=06J05S&report=snowmonth_hist
/nwcc/rgrpt?station=05J40S&report=snowmonth_hist
/nwcc/rgrpt?station=06M17S&report=snowmonth_hist
/nwcc/rgrpt?station=06K51&report=snowmonth_hist
/nwcc/rgrpt?station=06J10&report=snowmonth_hist
/nwcc/rgrpt?station=06J19S&report=snowmonth_hist

    station          site_name latitude longitude    county
0     05L05             Antero    38.92   -105.97      Park
1     05L06   Antero Reservoir    39.00   -105.87      Park
2    05M07S           Apishapa    37.33   -105.07  Huerfano
3    06J08S      Arapaho Ridge    40.35   -106.38     Grand
4     05K12           Arrow #2    39.92   -105.76     Grand
..      ...                ...      ...       ...       ...
190  05J40S        Willow Park    40.43   -105.74   Larimer
191  06M17S  Wolf Creek Summit    37.48   -106.80   Mineral
192   06K51        Wurtz Lower    39.39   -106.36     Eagle
193   06J10         Yampa View    40.36   -106.77     Routt
194  06J19S             Zirkel    40.79   -106.60   Jackson

[195 rows x 5 columns]

In [3]:
all_sites_data = []
for row_num, row in sites.iterrows():
    station = row['station']

    raw_data = fetch_data.download_site_data(station)
    df = fetch_data.parse_snow_data(raw_data, station)
    all_sites_data.append(df)

all_sites_df = pd.concat(all_sites_data, ignore_index=True)\
    .merge(sites, on='station', how='left')

all_sites_df

,water_year,Jan_date,Jan_snow_depth_in,Jan_swe_in,Feb_date,Feb_snow_depth_in,Feb_swe_in,Mar_date,Mar_snow_depth_in,Mar_swe_in,...,May_snow_depth_in,May_swe_in,Jun_date,Jun_snow_depth_in,Jun_swe_in,station,site_name,latitude,longitude,county
0,1949,NaN,NaN,NaN,Feb 01,15.0,2.7,Mar 01,22.0,4.7,...,0.0,0.0,NaN,NaN,NaN,05L05,Antero,38.92,-105.97,Park
1,1950,NaN,NaN,NaN,Jan 30,9.0,1.5,Feb 27,7.0,1.6,...,0.0,0.0,NaN,NaN,NaN,05L05,Antero,38.92,-105.97,Park
2,1951,NaN,NaN,NaN,Jan 30,10.0,1.0,Feb 25,6.0,1.4,...,0.0,0.0,NaN,NaN,NaN,05L05,Antero,38.92,-105.97,Park
3,1952,NaN,NaN,NaN,Jan 28,22.0,5.9,Feb 29,20.0,6.0,...,5.0,1.1,NaN,NaN,NaN,05L05,Antero,38.92,-105.97,Park
4,1953,NaN,NaN,NaN,NaN,NaN,NaN,Feb 26,6.0,1.4,...,0.0,0.0,NaN,NaN,NaN,05L05,Antero,38.92,-105.97,Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5820,2022,NaN,NaN,NaN,Jan 26,32.0,8.3,Feb 24,38.0,10.7,...,30.0,9.7,NaN,NaN,NaN,06J10,Yampa View,40.36,-106.77,Routt
5821,2023,NaN,NaN,NaN,Jan 30,66.0,16.0,Feb 27,57.0,18.3,...,45.0,18.3,NaN,NaN,NaN,06J10,Yampa View,40.36,-106.77,Routt
5822,2024,NaN,NaN,NaN,Jan 29,40.0,10.8,Feb 27,53.0,14.7,...,25.0,10.6,NaN,NaN,NaN,06J10,Yampa View,40.36,-106.77,Routt
5823,2025,NaN,NaN,NaN,Jan 27,37.0,9.5,Feb 24,51.0,13.3,...,3.0,1.2,NaN,NaN,NaN,06J10,Yampa View,40.36,-106.77,Routt
5824,2026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,06J10,Yampa View,40.36,-106.77,Routt

In [12]:
all_sites_df_pivot = fetch_data.pivot_to_long_format(all_sites_df)

all_sites_df_pivot

Jan
['water_year', 'station', 'site_name', 'county', 'latitude', 'longitude', 'Jan_date', 'Jan_snow_depth_in', 'Jan_swe_in']
Feb
['water_year', 'station', 'site_name', 'county', 'latitude', 'longitude', 'Feb_date', 'Feb_snow_depth_in', 'Feb_swe_in']
Mar
['water_year', 'station', 'site_name', 'county', 'latitude', 'longitude', 'Mar_date', 'Mar_snow_depth_in', 'Mar_swe_in']
Apr
['water_year', 'station', 'site_name', 'county', 'latitude', 'longitude', 'Apr_date', 'Apr_snow_depth_in', 'Apr_swe_in']
May
['water_year', 'station', 'site_name', 'county', 'latitude', 'longitude', 'May_date', 'May_snow_depth_in', 'May_swe_in']
Jun
['water_year', 'station', 'site_name', 'county', 'latitude', 'longitude', 'Jun_date', 'Jun_snow_depth_in', 'Jun_swe_in']

,water_year,station,site_name,county,latitude,longitude,month,collection_date,snow_depth_in,swe_in
0,1936,05J05,Wild Basin,Boulder,40.20,-105.60,Apr,Mar 28,64.0,20.7
1,1936,05J05,Wild Basin,Boulder,40.20,-105.60,May,Apr 29,40.0,16.5
2,1937,05J05,Wild Basin,Boulder,40.20,-105.60,Feb,Jan 27,19.0,4.0
3,1937,05J05,Wild Basin,Boulder,40.20,-105.60,Mar,Feb 25,31.0,7.6
4,1937,05J05,Wild Basin,Boulder,40.20,-105.60,Apr,Mar 31,44.0,11.4
...,...,...,...,...,...,...,...,...,...,...
22124,2024,06K21,Blue River,Summit,39.39,-106.05,May,Apr 29,28.0,7.4
22125,2025,06K21,Blue River,Summit,39.39,-106.05,Feb,Jan 31,27.0,6.7
22126,2025,06K21,Blue River,Summit,39.39,-106.05,Mar,Feb 26,32.0,7.7
22127,2025,06K21,Blue River,Summit,39.39,-106.05,Apr,Mar 28,29.0,7.7
22128,2025,06K21,Blue River,Summit,39.39,-106.05,May,Apr 30,6.0,1.7

In [18]:
larimer_county = all_sites_df_pivot.query("county == 'Larimer'")

larimer_county['site_name'].value_counts()

site_name
Chambers Lake          354
Big South              353
Hidden Valley          336
Hourglass Lake         327
Deadman Hill           307
Deer Ridge             306
Milner Pass            302
Longs Peak             298
Red Feather            279
Bennett Creek          236
Long Draw Reservoir    185
Mc Intyre              162
Name: count, dtype: int64

In [ ]:
p9.ggplot(larimer_county, p9.aes(x = ))

station
05J02    354
05J03    353
05J13    336
05J11    327
05J06    307
05J17    306
05J24    302
05J22    298
05J20    279
05J33    236
05J27    185
05J15    162
Name: count, dtype: int64